<!-- {% extends "add.html" %} -->
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Contact</title>
</head>
<body>
    <h1>Add Contact</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <li class="flash">{{ message }}</li>
                {% endfor %}
        {% endif %}
    {% endwith %}

   

    
    <form method="POST" >
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="phone_number">Phone Number:</label>
        <input type="number" id="phone_number" name="phone_number"required><br><br>
        <input type="submit" value="Add Contact">
        
    </form>

    {% endblock %}


</body>
</html>


